/* You can add global styles to this file, and also import other style files */
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.header {
  display: flex;
  box-shadow: 0px 5px 5px 0px #ffaa58;
  margin: 0 0 5px;
  background-color: rgb(255, 170, 88, 0.8);
  height: 10vh;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
}
